.Checkbox {
  border: 1px solid #cccccc;
  height: 180px;
  overflow-y: scroll;
}

.error {
  color: #f01f30;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  z-index: 99;
  display: block;
}
