.TableStyle {
    display: flex;
    justify-content: center;
}

.TableStyle ul {
    height: auto;
}

.TableStyle ul {
    height: 100%; 
}

.TableStyle ul li {
    padding: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    align-items: flex-start;
    justify-content: center;
}

.TableStyle ul li:first-child {
    width: 100px;
}

.TableStyle ul li {
    height: auto;
    padding: 0;
}

ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    background-color: green;
}


p {
    display: inline-block;
    word-break: break-all;
}

.table {
    height: 35px;
    background-color: #fff;
}

.table li {
    height: auto;
}

button {
    width: 4.5rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    outline: none;
    background-color: green;
    border: none;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.button .fontButton {
    font-size: 14px;
    
}
.registration{
    align-self: flex-start;
    margin-left: 0px;
}

.delete {
    background-color: red;
}

a {
    text-decoration: none;
}

.TableStyle ul .actions {
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.TableStyle ul .age {
    width: 150px;
}

.TableStyle ul .education {
    width: 400px;
}

.warning{
    background-color: #F0AD4E;
}
.danger{
    background-color: #D9534F;
}
.default{
    background-color: #0275D8;;
}
i{
    font-style: normal;
    outline: none;
    text-decoration: underline;
}