:root {
  --black: #000;
  --white: #fff;
  --red: red;
  --light-grey: #ccc;
}

.DeleteModal {
  width: 350px;
  height: 300px;
  background-color: var(--white);
  border: 1px solid var(--black);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.DeleteModal h1 {
  text-align: center;
}
.DeleteModal p {
  display: inline-block;
  width: 320px;
  height: 114px;
  text-align: center;
  font-size: 2rem;
}

.DeleteModal .buttonGroup {
  display: flex;
}

.DeleteModal .buttonGroup button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  border: 1px solid var(--black);
}

.DeleteModal .buttonGroup button:first-child {
  background-color: var(--red);
}

.DeleteModal .buttonGroup button:last-child {
  background-color: var(--light-grey);
}

.DeleteModal .buttonGroup button i {
  text-decoration: none;
  font-weight: 500;
}
