.ModalRegisterNewUser {
  display: flex;
  width: 800px;
  height:auto;
  background-color: #fff;
  border: 2px solid gray;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 99;
  padding-bottom: 20px;
}
h4 {
  font-size: 2rem;
  margin: 10px;
  text-align: center;
}

.close {
  display: none;
}
.open {
  display: flex;
  flex-direction: column;
}
button {
  width: 10rem;
  height: 35px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
}

.SaveButton {
  background-color: green;
}
.CancelButton {
  background-color: red;
}
